<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="IpAddress" value="127.0.0.1" />
		<add key="Port" value="5020" />
		<add key="QueueSize" value="10000" />
		<add key="FunctionCode" value="3" />
		<add key="StartAddress" value="0" />
		<add key="NumRegisters" value="25" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>